<div class="container">
  <div class=" title-div row">
    <div class="col">
      <h2 mat-dialog-title>Quiz</h2>
    </div>

    <div class="col button-holder">
      <a mat-mini-fab color="primary" aria-label="back" routerLink="/" routerLinkActive="active" title="Back">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </a>
    </div>
  </div>
  <div class="embed-responsive embed-responsive-4by3">
    <img src="assets/images/QuizBackground.jpg" class="embed-responsive-item" />


    <!-- 
        frameborder="0" scrolling="no" allow="vr;gyroscope;accelerometer" height="100%"
        style="width:100%;border:none;" -->
  </div>


</div>
