body {
  background-color: #ffffff;
  color: #565656;
}

.wrapper {

  padding: 7.5em 0 0.5em 0;


}

.wrapper .featured {
  text-align: center;
}

section {
  display: block;
}


.header-image img {
  border-radius: 100%;
  width: 100%;
  display: block;
}


.header-image {
  -moz-transition: opacity 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
}

.header-image {
  display: block;
  width: 18em;
  height: 18em;
}


#intro .content {
  -moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -ms-transition: -ms-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -moz-transition-delay: 0.35s;
  -webkit-transition-delay: 0.35s;
  -ms-transition-delay: 0.35s;
  transition-delay: 0.35s;
}


.wrapper.featured>.inner>.content h1 {
  font-size: 4em;
}

h1 {
  font-size: 3.25em;
  line-height: 1.1;
  margin: 0 0 1.5rem 0;
  letter-spacing: 0.025em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 0 1.75rem 0;
  letter-spacing: 0.05em;
}


.wrapper.featured>.inner>.content p {
  font-size: 1.5em;
  margin: 0 0 1.5em 0;
}


ul.actions {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  cursor: default;
  list-style: none;
  margin-left: -1em;
  padding-left: 0;
}


ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

ol,
ul {
  list-style: none;
}


ul.actions li {
  padding: 0 0 0 1em;
  vertical-align: middle;
}

ul li {
  padding-left: 0.5em;
}


.wrapper.style2 {
  background-color: #f7f7f7;
}

section.special,
article.special {
  text-align: center;
}


.circle {
  background-image: url('../../assets/images/header.png');
  background-size: contain;
  width: 50%;
  border-radius: 50%;

}

.circle:after {
  content: "";
  padding-bottom: 100%;
  display: block;

}

section {
  display: flex;
  flex-direction: column;
  height: 100%
}

.home-header h1 {
  font-size: 3rem;
}

.home-header p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
}

.button-container {
  background-color: #f7f7f7;
  text-align: center;
  flex-grow: 1;
}



.button-list {
  width: 50%;
  height: 4em;
  margin: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// .footer {
//   width: 100%;
//   height: 30px;
//   line-height: 30px;
//   background-color: #ffffff;
//   text-align: center;
// }

@media (min-width:10px) {
  .circle {
    margin-left: auto;
    margin-right: auto;
  }

  .home-header {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .circle {
    margin-left: auto;
    margin-right: 0px;
    // margin-right: auto;
  }

  .home-header {
    text-align: left;
  }

  .wrapper {
    padding: 7.5em 0 5.5em 0;

  }




}
