<section>


  <div class="container">
    <div class="wrapper row">
      <div class="col-md-6 col-sm-12">
        <!-- <span class="header-image">
        <img src="../assets/images/cottage.png" />
      </span> -->
        <div class="circle"></div>
      </div>
      <div class="col-md-6 col-sm-12 home-header">
        <header>
          <h1>
            Miller Grove
          </h1>
          <p class="d-none d-sm-block d-md-block d-xl-block">
            The Miller Grove site is a freed slave African-American
            community established in Pope County in 1844.
            Contained entirely on the Shawnee National Forest, the remains
            of this settlement (1844-1920's) include over 20 homesteads,
            a cemetary, a church/school, and lanscape
            features.
            <br />

          </p>

        </header>
        <footer>
          <!-- <p>
            <button mat-icon-button aria-label="Example icon-button with a heart icon">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button> Click on the buttons below to take a close look at the Miller Grove.
          </p> -->
        </footer>

      </div>
    </div>
  </div>

  <div class="button-container">
    <div class="row ">
      <div class="col">

        <button mat-raised-button class="button-list" (click)="navigate('/visualnarrative')">
          <mat-icon>developer_board</mat-icon>Visual Narrative
        </button>
        <button mat-raised-button class="button-list" (click)="navigate('/map')">
          <mat-icon>360</mat-icon> 360° Virtual Tours
        </button>
        <button mat-raised-button class="button-list" (click)="navigate('/walkthrough')">
          <mat-icon>landscape</mat-icon>Walk Through
        </button>
        <button mat-raised-button class="button-list" (click)="navigate('/gallery')">
          <mat-icon>photo_library</mat-icon>Gallery
        </button>

        <button mat-raised-button class="button-list" (click)="navigate('/quiz')">
          <mat-icon>done_all</mat-icon>Quiz
        </button>

      </div>

    </div>
  </div>


</section>


<!-- 
<div class="wrapper">

  <section id="intro" class="wrapper featured style1">
    <div class="inner">
      <span class="image">
        <img src="../assets/images/cottage.png" />
      </span>

      <div class="content">
        <header>
          <h1>MI Groove</h1>
          <p>The MI groove is the place where the people go here and there</p>
        </header>

        <footer>
          <ul class="actions">
            <li>
              <a class="button" style="cursor: pointer">Get started</a>
            </li>
          </ul>
        </footer>
      </div>
    </div>
  </section>

  <section class="wrapper style2 special">

  </section>

</div> -->
