<div class="container">
  <div class=" title-div row">
    <div class="col">
      <h2 mat-dialog-title *ngIf="place">{{place.name}}</h2>
    </div>

    <div class="col button-holder">
      <a mat-mini-fab color="primary" aria-label="back" routerLink="/map" routerLinkActive="active" title="Back">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </a>
    </div>
  </div>
  <p>Panoroma view of {{place?.name}}..</p>
  <div class="iframe-div">
    <iframe *ngIf="place" [src]="srcUrl" allowfullscreen="true" frameborder="0" scrolling="no"
      allow="vr;gyroscope;accelerometer" height="600" style="width:100%;border:none;"></iframe>
  </div>


</div>
