<div class="container top-pad">
  <div class="button-container">
    <div class="row ">
      <div class="col">

        <a mat-raised-button class="button-list" href="https://bit.ly/cojalvr" target="_blank">
          <mat-icon>ondemand_video</mat-icon> Cojal VR Tour
        </a>

        <a mat-raised-button class="button-list" href="https://bit.ly/gallinazo-storymap" target="_blank">
          <mat-icon>menu_book</mat-icon> Northern Gallinazo Storymap
        </a>

        <a mat-raised-button class="button-list" href="https://bit.ly/gallinazo3D" target="_blank">
          <mat-icon>3d_rotation</mat-icon> Gallinazo 3D Artifacts
        </a>
        <a mat-raised-button class="button-list" href="https://bit.ly/gallinazo360" target="_blank">
          <mat-icon>360</mat-icon> Gallinazo 360 Video
        </a>

        <a mat-raised-button class="button-list" href="https://bit.ly/cojalvr" target="_blank">
          <mat-icon>recent_actors</mat-icon> Songoy-Cojal AR Experience
        </a>

      </div>

    </div>
  </div>
</div>
